@PACKAGE_INIT@
include("${CMAKE_CURRENT_LIST_DIR}/dracoTargets.cmake")
set(DRACO_FOUND TRUE)
set_and_check(DRACO_INCLUDE_DIR "@CMAKE_INSTALL_FULL_INCLUDEDIR@")
set_and_check(DRACO_LIBRARY_DIR "@CMAKE_INSTALL_FULL_LIBDIR@")
set(DRACO_LIBRARY @DRACO_TARGETS@)
